<div class="jumbotron">
  <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:cc="http://creativecommons.org/ns#"
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			xmlns:svg="http://www.w3.org/2000/svg"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			width="744.09003" 
			height="581" 
			id="svg2" 
			sodipodi:version="0.32"
			inkscape:version="0.48.4 r9939" 
			version="1.0"
			sodipodi:docname="Map_of_urban_and_rural_municipalities_of_Macedonia_en.svg"
			inkscape:output_extension="org.inkscape.output.svg.inkscape">

    		<g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
    			 <path	ng-repeat="p in entities"
    			 		inkscape:connector-curvature="0"
						style="fill:#000;
						fill-opacity:1;
						fill-rule:nonzero;
						stroke:#fff;
						stroke-opacity:1"
						d="{{p.description}}"
				>
        		 <path>
    		</g>
  </svg>
</div>
