
<div class="row" ng-controller="MainCtrl">

<div class="jumbotron col-md-9" >
<!--  cases.indexOf(case) as case.name for case in cases-->
<!-- case.name for case in cases   -->

<select ng-model="myCase" ng-options="case.name for case in cases" ng-change="reload()"> 
</select>


<!-- <combo class="col-sm-12" combo-type="EventCase" combo-required="false"
	combo-label="Делo" combo-model="myCase"
	combo-name="unit" combo-property="name" on-change="reload(myCase)"> </combo> -->
	

<svg xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:cc="http://creativecommons.org/ns#"
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			xmlns:svg="http://www.w3.org/2000/svg"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
			xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
			width="744.09003" 
			height="581" 
			id="svg2" 
			sodipodi:version="0.32"
			inkscape:version="0.48.4 r9939" 
			version="1.0"
			sodipodi:docname="Map_of_urban_and_rural_municipalities_of_Macedonia_en.svg"
			inkscape:output_extension="org.inkscape.output.svg.inkscape">

    		<g inkscape:label="Layer 1"  id="layer1">
    			<path	ng-repeat="p in entity"
    					ng-click="select(p)"
    			 		inkscape:connector-curvature="0"
						style="
						fill-opacity:0.5;
						fill-rule:nonzero;
						stroke:#000;
						stroke-opacity:1"
						fill={{color(p[3])}}
						id="path-{{p[0]}}"
						d="{{p[2]}}">
						
        		 </path>
        		 <circle ng-repeat="p in entity" cx="{{textX(p)}}" cy="{{textY(p)-2}}"  r="3"
        					fill="blue" stroke="blue" stroke-width="2"  />
        		 <text ng-repeat="p in entity" x="{{textX(p)+5}}" y="{{textY(p)+3}}" 
        		 		style="font-size: 10px; font-family: Verdana; fill: rgb(0, 0, 0);">{{p[1]}}</text>
    		</g>
  </svg>

 
</div>
<div class="col-md-3">
	{{selected[1]}}
	{{selected[3]}}
</div>
</div>
	
