<crud crud-title="mvr.svrrc" crud-type="SvrRc"
	crud-form="svrRcEntity"
	crud-table-params="{ count: 10, sorting: { id: 'desc' } }">

<div class="table-responsive">
	<!--  -->
	<table ng-table="table" show-filter="true"
		class="table table-bordered table-striped table-condensed ng-table-responsive">
		<tbody>
			<tr ng-repeat="r in $data">
				<td class="td-id" data-title="'generic.id' | translate" sortable="'id'">{{r.id}}</td>
				<td data-title="'generic.name' | translate" sortable="'name'"
					filter="{ 'name': 'text' }">{{r.name}}</td>
				<td data-title="'generic.color' | translate" ><div class="row">
					<div class="col-md-6">{{r.color}} </div>
					<div class="col-md-6">		
					    <div style="background:{{r.color}};display:inline-block; width:60px;height:20px;"></div>
					</div>
				</div></td>
				<td class="td-edit" data-title="'action.edit' | translate">
					<button type="button" ng-click="edit(r.id)"
						class="btn btn-default btn-xs">
						<i class="fa fa-fw fa-edit"></i> {{ 'action.edit' | translate }}
					</button>
					<button type="button" ng-click="deleteDialog(r.id)"
						class="btn btn-danger btn-xs">
						<i class="fa fa-fw trash-o"></i> {{ 'action.delete' | translate }}
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</crud>