<crud crud-title="mvr.shortEvent" crud-type="Event"
	crud-form="shortEventEntity"
	 paged="true"
     crud-table-params="{ count: 10, sorting: { id: 'desc' } }">
	
	  <script type="text/ng-template" id="ng-table/filters/datum.html">
      <quick-datepicker ng-model='params.filter()[name]' date-format="dd/MM/yyyy"
						icon-class='glyphicon glyphicon-calendar'
                        disable-timepicker="true"
						placeholder='Избери датум'></quick-datepicker>
    </script>
<div class="table-responsive top-buffer2">
	<!--  -->
	<table ng-table="table" show-filter="true"
		class="table table-bordered table-striped table-condensed ng-table-responsive">
		<tbody>
			<tr ng-repeat="r in $data">
				<td class="td-id" data-title="'generic.id' | translate" sortable="'id'">{{r.id}}</td>
				 <td data-title="'generic.date' | translate" sortable="'datum'"
		              filter="{ 'dateFrom': 'datum' }">{{r.datum | date:'dd/MM/yyyy'}}
		          </td>
				<td data-title="'mvr.eventcases' | translate" sortable="'ecase'">
				{{r.ecase["name"] | shorten}}</td>
				<td data-title="'generic.datum' | translate">{{'generic.od' | translate}} {{r.staringDate}} {{'generic.do' | translate}} {{r.endingDate}}</td>
				<td data-title="'generic.eventDescription' | translate" sortable="'eventDescription'"
					filter="{ 'description': 'text' }">{{r.eventDescription | shorten:100}}</td>
				<td class="td-edit" data-title="'action.edit' | translate">
					<button type="button" ng-click="edit(r.id)"
						class="btn btn-default btn-xs">
						<i class="fa fa-fw fa-edit"></i> {{ 'action.edit' | translate }}
					</button>
					<button type="button" ng-click="deleteDialog(r.id)"
						class="btn btn-danger btn-xs">
						<i class="fa fa-fw trash-o"></i> {{ 'action.delete' | translate }}
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</crud>