<div ng-controller="UnspecifiedPersonController">
<crud crud-title="mvr.unspecifiedpersons" crud-type="UnspecifiedPerson"
	crud-form="unspecifiedPersonEntity"
	after-init="afterCrudInit"
	on-new="noPopUp"
	after-save="crudScope.hide"
	on-edit="noPopUp"
	paged="true"
	crud-table-params="{ count: 10, sorting: { id: 'desc' } }">
	
	<div class="panel panel-default top-buffer2" ng-if="entity">
		<form name="form{{crudTitle}}" role="form" novalidate class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
			ng-submit="save()">
			<div class="panel-heading">
		        <button type="button" class="close" ng-click="hide()">&times;</button>
		        <h4 class="panel-title">{{ 'generic.add_or_edit' | translate }} <span class="text-info">{{ 'mvr.unspecifiedpersons' | translate }}</span></h4>
		      </div>
			<div class="panel-body">
				<ng-include src="'forms/unspecifiedPersonEntity.html'"></ng-include>
			</div>
			<div class="panel-footer">
		        <button type="button" class="btn btn-default" ng-click="hide()">
		        	<i class="fa fa-fw fa-times"></i> {{ 'action.cancel' | translate }}
		        </button>
		        <button type="submit" ng-disabled="form{{crudTitle}}.$invalid" class="btn btn-primary">
					<i class="fa fa-fw fa-save"></i> {{ 'action.save' | translate }}
				</button>
		      </div>
	      </form>
	</div>

	<script type="text/ng-template" id="ng-table/filters/ethicity.html">
      <combo-2 combo-type="Ethnicity"
             combo-required="true"
             combo-label="mvr.ethnicity"
             combo-model="params.filter()[name]"
             combo-property="name">
      </combo-2>
	</script>
	<script type="text/ng-template" id="ng-table/filters/eyeColor.html">
      <combo-2 combo-type="EyeColor"
             combo-required="true"
             combo-label="mvr.eyecolors"
             combo-model="params.filter()[name]"
             combo-property="name">
      </combo-2>
	</script>
	<script type="text/ng-template" id="ng-table/filters/hairColor.html">
      <combo-2 combo-type="HairColor"
             combo-required="true"
             combo-label="mvr.haircolors"
             combo-model="params.filter()[name]"
             combo-property="name">
      </combo-2>
	</script>
<div class="table-responsive top-buffer2" ng-if="!entity">
	<!--  -->
	<table ng-table="table" show-filter="true"
		class="table table-bordered table-striped table-condensed ng-table-responsive">
		<tbody>
			<tr ng-repeat="r in $data">
				<td class="td-id" data-title="'generic.id' | translate" sortable="'id'">{{r.id}}</td>
				<td data-title="'generic.gender' | translate" sortable="'gender'">{{r.gender}}</td>
				<td data-title="'mvr.age' | translate" sortable="'age'"
					>{{r.age["name"]}}</td>
				<td data-title="'mvr.heights' | translate" sortable="'height'"
					>{{r.height["name"]}}</td>
				<td data-title="'mvr.weights' | translate" sortable="'weight'"
					>{{r.weight["name"]}}</td>
				<td data-title="'mvr.eyecolors' | translate" sortable="'eyecolors'"
					filter="{ 'eyeColor': 'eyeColor' }">{{r.eyeColor["name"]}}</td>
				<td data-title="'mvr.ethnicity' | translate" sortable="'ethnicity'"
					filter="{ 'ethicity': 'ethicity' }">{{r.ethicity["name"]}}</td>
				<td data-title="'mvr.bodytypes' | translate" sortable="'nbodytypesme'"
					>{{r.bodyType["name"]}}</td>

				<td data-title="'mvr.haircolors' | translate" sortable="'haircolors'"
					filter="{ 'hairColor': 'hairColor' }">{{r.hairColor["name"]}}</td>
				<td data-title="'mvr.speachtroubles' | translate" sortable="'speachtroubles'"
					>{{r.speachTrouble["name"]}}</td>
				<td data-title="'generic.comment' | translate" sortable="'comment'"
					filter="{ 'comment': 'text' }">{{r.comment}}</td>
				<td class="td-edit" data-title="'action.edit' | translate">
					<button type="button" ng-click="edit(r.id)"
						class="btn btn-default btn-xs">
						<i class="fa fa-fw fa-edit"></i> {{ 'action.edit' | translate }}
					</button>
					<button type="button" ng-click="deleteDialog(r.id)"
						class="btn btn-danger btn-xs">
						<i class="fa fa-fw trash-o"></i> {{ 'action.delete' | translate }}
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</crud>
</div>