/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
    overflow:auto;
    min-width:1200px;
}
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,.marketing,.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
/* @media ( min-width : 768px) {
	.container {
		max-width: 730px;
	}
}
 */
 
@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
   .dropdown:hover .dropdown-menu {
        display: block;
   }
}
 

.container-narrow>hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	min-width:1200px;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,.marketing,.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

.top-buffer {
	margin-top: 10px;
	padding: 10px;
}

.top-buffer2 {
	margin-top: 10px;
}

.logo{
	float:left;
	margin-right:10px;
}

.pointer{
	cursor: pointer
}
textarea{
	resize:none;
	overflow-y: scroll;
	height: 300px;
}

.main-body {
	padding-top: 0px;
	background-color: #5a0201;
}
.background {
	background: url("../images/banner_mvr.png") no-repeat scroll;
	height:110px;
	background-size: 100%;
	margin-bottom: 10px;
}

.mvr_mk {
  width: 45.3%;
  padding-right: 4%;
  float: left;
  text-align: right;
  font-size: 18px;
  padding-top: 10px;
  color: #222;
  font-weight: 700;
}

.mvr_logo {
  width: 9.4%;
  float: left;
  padding-top: 1.2%;
}

.mvr_en {
  width: 45.3%;
  float: right;
  padding-left: 4%;
  text-align: left;
  font-size: 18px;
  padding-top: 10px;
  color: #222;
  font-weight: 700;
}

.right {
	float: right;
}

.mvr_public{
	min-wdith:1386px;'
	
}

.catg_title {
  color: #111;
  display: block;
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 7px;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #444;
}

a{
	decoration: none;
	color: #111;
}

a:hover{
	color: #777;
}

.table-margin{
	/* height:110px;
	background-size: 100%; */
	margin-top:90px;
}


.pagination > li > a
{
	color: #a50301 !important;
}

.pagination > .active > a{
	
	background-color:  #a50301 !important;
	border-color:  #a50301 !important;
	color: #fff !important;
}