      	<div class="form-group ">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.date' | translate}}: </label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="datum" id="datum" ng-model="entity.datum">              
            	</div>
            </div>
        </div>
        <div class="row">

            <combo class="col-sm-12" combo-type="EventCase" combo-required="false" combo-label="mvr.eventcases" combo-model="entity.ecase" combo-name="ecase" combo-property="name">
            </combo>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.startDate' | translate}}: </label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="startingDate" id="startingDate" ng-model="entity.staringDate">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.endDate' | translate}}: </label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="endingDate" id="endingDate" ng-model="entity.endingDate">
                </div>
            </div>
        </div>
        <div class="row">
            <combo class="col-sm-12" combo-type="Municipality" combo-required="true" combo-label="mvr.municipalities" combo-model="entity.opstina" combo-name="opstina" combo-property="name">
            </combo>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.eventDescription' | translate}}: </label>
                <div class="col-sm-9">
                    <textarea  class="form-control" scrolbar="vertical" name="eventDescription" id="eventDescription" ng-model="entity.eventDescription">
                	</textarea>
                </div>
            </div>
