      	<div class="form-group ">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.date' | translate}}: </label>
                <div class="col-sm-9">
                     <quick-datepicker ng-model='entity.datum' id="datum" name="datum" icon-class='glyphicon glyphicon-calendar' date-format="dd/MM/yyyy" disable-timepicker="true" placeholder="избери датум"></quick-datepicker>              
            	</div>
            </div>
        </div>
        <div class="row">

            <combo class="col-sm-12" combo-type="EventCase" combo-required="false" combo-label="mvr.eventcases" combo-model="entity.ecase" combo-name="ecase" combo-property="name">
            </combo>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.startDate' | translate}}: </label>
                <div class="col-sm-9">
                    <quick-datepicker ng-model='entity.staringDate' name="startingDate" id="startingDate"  icon-class='glyphicon glyphicon-calendar' date-format="dd/MM/yyyy" disable-timepicker="true" placeholder="избери датум"></quick-datepicker>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.endDate' | translate}}: </label>
                <div class="col-sm-9">
                    <quick-datepicker ng-model='entity.endingDate' name="endingDate" id="endingDate"  icon-class='glyphicon glyphicon-calendar' date-format="dd/MM/yyyy" disable-timepicker="true" placeholder="избери датум"></quick-datepicker> 
                </div>
            </div>
        </div>
        <div class="row">
            <combo class="col-sm-12" combo-type="Municipality" combo-required="true" combo-label="mvr.municipalities" combo-model="entity.opstina" combo-name="opstina" combo-property="name">
            </combo>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.eventDescription' | translate}}: </label>
                <div class="col-sm-9">
                    <textarea  class="form-control" scrolbar="vertical" name="eventDescription" id="eventDescription" ng-model="entity.eventDescription">
                	</textarea>
                </div>
            </div>
