<div class="form-group">
	<div class="row">
		<label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.gender'
		| translate}}: </label>
	<div class="col-sm-9">
		<select class="form-control" name="gender" id="gender"
			ng-model="entity.gender">
			<!-- <option>{{'generic.male' | translate}}</option>
			<option>{{'generic.female' | translate}}</option> -->
			<option>male</option>
			<option>female</option>
		</select>
	</div>
	</div>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="Age" combo-required="true"
	combo-label="mvr.age" combo-model="entity.age"
	combo-name="age" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="Height" combo-required="true"
	combo-label="mvr.heights" combo-model="entity.height"
	combo-name="height" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="Weight" combo-required="true"
	combo-label="mvr.weights" combo-model="entity.weight"
	combo-name="weight" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="EyeColor" combo-required="true"
	combo-label="mvr.eyecolors" combo-model="entity.eyeColor"
	combo-name="eyecolors" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="Ethnicity" combo-required="true"
	combo-label="mvr.ethnicity" combo-model="entity.ethicity"
	combo-name="ethnicity" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="BodyType" combo-required="true"
	combo-label="mvr.bodytypes" combo-model="entity.bodyType"
	combo-name="bodytype" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="TeethCondition" combo-required="true"
	combo-label="mvr.teethconditions" combo-model="entity.teethCondition"
	combo-name="teethconditions" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="HandType" combo-required="true"
	combo-label="mvr.handtypes" combo-model="entity.handType"
	combo-name="handtypes" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="HumanCharacteristics" combo-required="true"
	combo-label="mvr.humancharacteristics" combo-model="entity.humanCharacteristics"
	combo-name="humancharacteristics" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="HairColor" combo-required="true"
	combo-label="mvr.haircolors" combo-model="entity.hairColor"
	combo-name="haircolors" combo-property="name"> </combo>
</div>
<div class="form-group">
	<div class="row">
		<label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.hairLength'| translate}}: </label>
	<div class="col-sm-9">
		<input type="text" class="form-control " name="firstName" id="firstName" ng-model="entity.hairLength">
	</div>
	</div>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="PhysicalCondition" combo-required="true"
	combo-label="mvr.physicalconditions" combo-model="entity.physicalCondition"
	combo-name="physicalconditions" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="FacialHairType" combo-required="true"
	combo-label="mvr.facialhairtypes" combo-model="entity.facialHair"
	combo-name="facialhairtypes" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="SpeachTrouble" combo-required="true"
	combo-label="mvr.speachtroubles" combo-model="entity.speachTrouble"
	combo-name="speachtroubles" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="SkinType" combo-required="true"
	combo-label="mvr.skintypes" combo-model="entity.skinType"
	combo-name="skintypes" combo-property="name"> </combo>
</div>
<div class="row">
	<combo class="col-sm-12" combo-type="PersonRole" combo-required="true"
	combo-label="mvr.personroles" combo-model="entity.role"
	combo-name="personroles" combo-property="name"> </combo>
</div>
<div class="form-group">
	<div class="row">
		<label class="col-sm-3 control-label" for="formGroupInputLarge">{{'generic.comment'
		| translate}}: </label>
	<div class="col-sm-9">
		<input type="text" class="form-control" name="comment" id="comment"
			ng-model="entity.comment">
	</div>
	</div>
</div>


