<div class="form-group row"
 ng-class="{'has-error has-feedback': ($root.errors && $root.errors[fName]) || (form[fName].$dirty && form[fName].$invalid)}">
		
		<label class="col-sm-3 control-label" for="field" ng-if="showLabel">{{ comboLabel | translate }} <span ng-show="comboRequired">*</span></label>
		<div class="col-sm-7">
			<div ui-select2="options" cmb-change="onChange" 
				class="combo form-select" 
				style="width:300px;"
				name="comboName"
				ng-model="comboModel"
				data-placeholder="{{ 'action.select' | translate }} {{ comboLabel | translate | lowercase }}..." ></div>
				
			<span ng-if="$root.errors[fName] || (form[fName].$invalid && form[fName].$dirty)" 
		  			class="glyphicon glyphicon-remove form-control-feedback"></span>
			<p ng-show="$root.errors[fName]" class="help-block">{{$root.errors[fName] | translate}}</p>
			<div ng-repeat="(err,val) in form[fName].$error">
				<p ng-show="val && form[fName].$invalid && form[fName].$dirty" class="help-block">
					{{ 'validation.'+err | translate: validationParams }}
				</p>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="btn btn-default btn-xs right" title="{{ 'action.reload' | translate}}" ng-click="reload()">
			    <i class="fa fa-fw fa-refresh glyphicon glyphicon-refresh"></i>
			</div>
			<a ng-href="#/views/view_{{comboType.toLowerCase()}}" class="btn btn-primary btn-xs right" title="{{ 'action.add' | translate}}" ng-click="reload()" target="_blank_{{comboType}}">
			    <i class="fa fa-fw fa-plus glyphicon glyphicon-plus"></i>
			</a>
		</div>
</div>